header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 5px var(--gray-300);
}

header .logo {
    width: 40%;
}

header .arrow_back {
    position: absolute;
    left: 20px;
}