@import "../style.css";

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    position: fixed;
    top: 0;
    left: 0;
    background: white;
    height: 100vh;
    width: 100%;
    z-index: 100;

    animation-name: fade-out;
    animation-delay: 3s;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}

.dot {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--gradient);

    animation-name: loading-screen;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.d2 {
    animation-delay: .2s;
}

.d3 {
    animation-delay: .4s;
}

#home,
footer {
    visibility: hidden;

    animation-name: onloading-screen;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-delay: 2.9s;
}

@keyframes loading-screen {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes onloading-screen {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

@keyframes fade-out {
    from {
        z-index: 100;
        visibility: visible;
    }

    to {
        z-index: -1;
        visibility: hidden;
    }
}