@import "../style.css";

.menu {
    background: var(--gray-100);
}

.menu .top_title h1 {
    font-size: 1.8em;
    letter-spacing: 2px;
    font-family: 'Shrikhand', sans-serif;
}

.menu .top_img{
    height: 250px;
}

.taste_menu {
    position: relative;
    padding: 0 20px;
}

.taste_menu::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25px;
    top: -25px;
    left: 0;
    background: var(--gray-100);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.taste_menu .menu_title {
    position: relative;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.taste_menu .menu_title::before {
    content: '';
    position: absolute;
    bottom: -0;
    height: 4px;
    width: 45px;
    background: var(--tertiary-100);
}

.menu_list{
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}

.menu_item{
    width: 45%;
}

.menu .card_list {
    flex-direction: column;
    gap: 20px;
}

.menu .card_item {
    position: relative;
    padding-left: 15px;
    padding-right: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 10px var(--gray-300);
    overflow: hidden;
    cursor: pointer;
}

.first,
.second,
.third,
.fourth {
    opacity: 0;

    animation-duration: .3s;
    animation-name: appear;
    animation-fill-mode: forwards;
}

.first {
    animation-delay: .1s;
}

.second {
    animation-delay: .2s;
}

.third {
    animation-delay: .3s;
}

.fourth {
    animation-delay: .4s;
}

.menu .card_item .card_title {
    font-size: 1.1em;
    font-weight: 600;
}

.menu .card_item .card_info {
    min-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: min-width .3s linear;
}

.menu .card_item .check {
    position: relative;
    width: 20%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--tertiary-100);
    transform: translateX(100%);
    transition: transform .3s linear;
}

.fa-check {
    border-radius: 50%;
    background-color: white;
    color: var(--tertiary-100);
    padding: 5px;
    transform: rotate(0deg);
    transition: transform .3s linear;
}

.menu .card_item:hover .card_info {
    min-width: 80%;
}

.menu .card_item:hover .check {
    transform: translateX(0%)
}

.menu .card_item:hover .check .fa-check {
    transform: rotate(360deg);
}

.menu .card_item .card_text {
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 300;
}

.menu .card_item .card_price {
    font-weight: 600;
    margin-right: 15px;
}

.menu .roundedBtn {
    padding: 15px 40px;
    font-weight: 500;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 920px) {
    .menu .top_img{
        height: auto;
    }
    .menu_list{
        display: block;
    }
    
    .menu_item{
        width: auto;
    }
}